body {
  background-color: rosybrown;
  font-family: "Nunito", sans-serif;
}
.head {
  text-align: center;
  color: rosybrown;
  background-color: aquamarine;
}
.parent {
  border: 5px solid aquamarine;
  background-image: url(img/tanjiro\ blogpost.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom;
  height: 660px;
  width: 500px;
  bottom: 23%;
  position: absolute;
}
.beach {
  border: 3px solid aquamarine;
  margin-top: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.parent2 {
  border: 5px solid aquamarine;
  background-image: url(img/zenitsu\ blogpost.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom;
  height: 660px;
  width: 500px;
  bottom: 23%;
  left: 35%;
  position: absolute;
}
.beach2 {
  border: 3px solid aquamarine;
  margin-top: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.parent3 {
  border: 5px solid aquamarine;
  background-image: url(img/inosuke\ blogpost.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom;
  height: 660px;
  width: 500px;
  left: 70%;
  bottom: 23%;
  position: absolute;
}
.beach3 {
  border: 3px solid aquamarine;
  margin-top: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
}
