body {
  background-color: rosybrown;
}
.head {
  text-align: center;
}
.parent {
  border: 5px solid aquamarine;
  height: 500px;
  width: 500px;
}
.beach {
  border: 3px solid aquamarine;
}
.parent2 {
  border: 5px solid aquamarine;
  height: 500px;
  width: 500px;
  bottom: 46%;
  left: 35%;
  position: absolute;
}
.beach2 {
  border: 3px solid aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
