body {
  background-color: red;
  color: aqua;
  font-size: 25px;
}
h1 {
  color: green;
}
.white-font {
  color: white;
}

.background {
  background-color: red;
  padding: 5px 0px;
}
.background {
  background-color: red;
  padding: 5px 0px;
}
.span